<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars!</title>
    <link rel="stylesheet" href="/static/games/star_wars_mando/script.js">
</head>
<body>

    <canvas id="canvas1"></canvas>
    <script src="/static/games/star_wars_mando/script.js"></script>
    <p id='buttonPTag'>
        <a id="reset" href="#">New Game</a>
    </p>
<!-- 
    <p id="ytvid">
        Video based on YouTube channel: Frank's Laboratory <br>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/EYf_JwzwTlQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>  -->
    
</body>
</html>